.navbar {
  width: 100%;
  height: 100%;
  background-color: #333;
}

.navbar-brand {
  font-family: Roboto;
  font-weight: 700;
}

.bg-white {
  color: white;
}

.text-none {
  text-decoration: none;
}

.justify-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.width-50 {
  width: 50%;
  justify-content: center;
  align-items: center;
}

.no-padding-margin {
  padding: 0;
  margin : 0;
}

.card-inside {
  padding: 50px;
  text-align: center;
}

.for-card-wrap {
  gap: 14px; 
  flex-wrap: wrap;
  margin-right: 4px;
  margin-left: 4px;
  justify-content: center;
}

.card {
  width: 300px;
  height: 200px;  
  border-radius: 10px;
  box-sizing: border-box;
  background-color: gainsboro;
  justify-content: center;
  align-items: center;
  display: flex;
}

.i-style {
  font-size: 40px;
}

i {
  color: dodgerblue;
}

ul {
  list-style-type: none;
  padding-top: 12px;
  padding-bottom: 12px;
}

h2 {
  font-family: Roboto;
  font-weight: 800;
}

body {
  margin: 0;
  padding: 0;
}

li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-family: Roboto;
  padding-right: 20px;
  padding-left: 20px;
}

article {
  margin: 20px;
}

section {
  padding: 20px;
  padding-top: 80px;
}

@media screen and (max-width: 640px) {
  .navbar {
    float: none;
    width: 100%;
  }

  .flex-sm {
    flex-direction: column;
    justify-content: center;
  }

  li {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 640px) {
  
}