.navbar {
  width: 100%;
  background-color: steelblue;
  position: fixed;
}

.navbar-brand {
  font-family: Roboto;
  font-weight: 700;
}

.bg-white {
  color: white;
}

.text-none {
  text-decoration: none;
}

.justify-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.w-50-1 {
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.w-50-2 {
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.sec-title {
  width: 100%;
  justify-content: center;
  padding-bottom: 24px;
}

.no-padding-margin {
  padding: 0;
  margin : 0;
}

.card-inside-feat {
  padding: 50px;
  text-align: center;
  gap: 20px;
  flex-direction: column;
}

.card-inside-about {
  padding: 50px;
  text-align: center;
  gap: 48px;
  flex-direction: column;
}

.for-sec-home {
  height: 400px;
}

.for-card-feat {
  gap: 20px; 
  flex-wrap: wrap;
  justify-content: center;
  background-color: gainsboro;
}

.for-feat-loop {
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.for-card-price {
  gap: 20px; 
  flex-wrap: wrap;
  justify-content: center;
}

.for-card-about {
  gap: 20px; 
  flex-wrap: wrap;
  justify-content: center;
  background-color: gainsboro;
}

.for-card-contact {
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.card-inside-form {
  justify-content: center;  
}

.flex-form {
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 350px;
}

.card {
  width: 350px;
  height: 250px;  
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
}

.card-price {
  width: 350px;
  height: 280px;  
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
  box-shadow: 2px 2px 10px grey; 
}

.card-about {
  width: 330px;
  height: 400px;  
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
  box-shadow: 2px 2px 10px grey; 
}

.btn-price {
  background-color: white; 
  color: black; 
  border: 2px solid darkslateblue;
  padding: 12px 28px;
  border-radius: 8px;
  color: darkslateblue;
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
}

.btn-price:hover {
  background-color: darkslateblue;
  color: white;
}

.i-style {
  font-size: 70px;
  color: steelblue;
}

.i-footer {
  font-size: 35px;  
  color: white;
}

.for-footer {
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.div-1-footer {
  justify-content: center;
  color: white;
  gap: 18px;
}

.div-2-footer {
  justify-content: center;
  color: white;
}

.price {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 800;
}

.font-roboto {
  font-family: Roboto;
}

.img-rounded {
  border-radius: 8px;
}

.icon-color {
  background-color: white;
}

i {
  color: dodgerblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 20px;
}

h2 {
  font-family: Roboto;
  font-weight: 800;
}

hr.solid {
  border-top: 3px solid grey;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-family: Roboto;
  padding-right: 20px;
  padding-left: 20px;
}

article {
  margin: 20px;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;   
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

footer {
  justify-content: center;
  text-align: center;
  padding: 50px;
  background-color: steelblue;
}

@media screen and (max-width: 640px) {
  .navbar {
    width: 100%;
    position: relative;
  }

  .flex-sm {
    flex-direction: column;
    justify-content: center;
  }

  .for-sec-home {
    width: 100%;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    justify-content: center;
  } 

  .w-50-1 {
    width: 100%;
    margin-right: 4px;
    margin-left: 4px;
  }

  .w-50-2 {
    width: 100%;
    margin-top: 10px;
  }

  /* ul {
    padding: 0;
  } */

  li {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 640px) {
  
}