.navbar {
  width: 100%;
  height: 100%;
  background-color: #333;
}

.navbar-brand {
  font-family: Roboto;
  font-weight: 700;
}

.bg-white {
  color: white;
}

.text-none {
  text-decoration: none;
}

.justify-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.w-50 {
  width: 50%;
  justify-content: center;
  align-items: center;
}

.sec-title {
  width: 100%;
  justify-content: center;
  padding-bottom: 24px;
}

.no-padding-margin {
  padding: 0;
  margin : 0;
}

.card-inside-feat {
  padding: 50px;
  text-align: center;
  gap: 20px;
  flex-direction: column;
}

.for-card-feat {
  gap: 20px; 
  flex-wrap: wrap;
  justify-content: center;
  background-color: gainsboro;
}

.for-card-price {
  gap: 20px; 
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 350px;
  height: 250px;  
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 15px grey;
}

.card-price {
  width: 350px;
  height: 280px;  
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
  box-shadow: 2px 2px 10px grey; 
}

.btn-price {
  background-color: white; 
  color: black; 
  border: 2px solid darkslateblue;
  padding: 12px 28px;
  border-radius: 8px;
  color: darkslateblue;
  font-family: Roboto;
  font-weight: 700;
  font-size: 13px;
}

.btn-price:hover {
  background-color: darkslateblue;
  color: white;
}

.i-style {
  font-size: 70px;
}

.price {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 800;
}

.font-roboto {
  font-family: Roboto;
}

i {
  color: dodgerblue;
}

ul {
  list-style-type: none;
  padding-top: 12px;
  padding-bottom: 12px;
}

h2 {
  font-family: Roboto;
  font-weight: 800;
}

hr.solid {
  border-top: 3px solid grey;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-family: Roboto;
  padding-right: 20px;
  padding-left: 20px;
}

article {
  margin: 20px;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;    
}

@media screen and (max-width: 640px) {
  .navbar {
    float: none;
    width: 100%;
  }

  .flex-sm {
    flex-direction: column;
    justify-content: center;
  }

  li {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 640px) {
  
}